<h1>Discussion regarding <%=  @organdtoy.donors_toy.toy.name  %> , between <%= @organdtoy.organization.username %>, and <%= @organdtoy.donors_toy.donator.username  %></h1>
<!-- Received toy section -->
<!-- Conditionals to show button for donor to send toy. -->
    <% if logged_in_don? && @organdtoy.donors_toy.sent == false %>
        <h4>Have you sent this Toy?</h4>
        <%= form_for @organdtoy.donors_toy do |f| %>
            <%= f.hidden_field(:sent, :value => true) %>
            <%= f.submit %>
        <% end %>
    <% end %>
    <% if @organdtoy.donors_toy.active == true && @organdtoy.donors_toy.sent == true %>
        <% if logged_in_org? %>
            <h1>Have you received this toy?</h1>
            <%= form_for @received do |f| %>
                
                <%= f.hidden_field(:donors_toy_id, :value => @organdtoy.donors_toy.id) %>
                <%= f.hidden_field(:organization_id, :value => @organdtoy.organization.id) %>
                <%= f.hidden_field(:donators_id, :value => @organdtoy.donors_toy.donator_id) %>
                 <%= f.hidden_field(:org_and_toy_connect_id, :value => @organdtoy.id) %>
                <%= f.submit :create, data: { confirm: 'Are you sure? This will close your conversation.' } %>
            <% end %>
        <% end %>
        <!-- More Conditionals regarding whether they are waiting to have toy sent or they have already received toy. -->
    
    <% end %>        
    <!-- Comments Create Section -->
    <div class="commentaddition">
        <% if logged_in_don? || logged_in_org? %>
            <%= content_tag :h3, "Chat about this toy." %>
            <%= form_for @comment do |f| %>
            <%= f.label :message %>
            <%= f.text_field :body %>
            <br>
            <br>
            <%= f.hidden_field(:org_and_toy_connect_id, :value => @organdtoy.id)%>
            <% if logged_in_org? %>
            <%= f.hidden_field(:organization_id, :value => current_org.id)%>
            <% end %>
			<% if logged_in_don? %>
			<%= f.hidden_field(:donator_id, :value => current_don.id)%>
			<% end %>
            <%= f.submit :create %>
            <% end %>
           <% end %> 
        </div>
        <!-- Comments Show Section -->
        <div class = "comments_section">
        	<% @organdtoy.comments_org_donor_toys.each do |c| %>
        	<%= c.body %>
        	<% if c.donator_id != nil %>
        		from <%= c.donator.username %>
        	<% end %>
        	<% if c.organization_id != nil %>
        		from <%= c.organization.username %>
        	<% end %>
        	<br>
        	<% end %>

        </div>
