<h1>Discussion regarding <%=  @organdtoy.donors_toy.toy.name  %> , between <%= @organdtoy.organization.username %>, and <%= @organdtoy.donors_toy.donator.username  %></h1>
<!-- Received toy section -->
    <% if logged_in_org? %>
        <h1>Have you received this toy?</h1>
        <%= form_for @received do |f| %>
            
            <%= f.hidden_field(:donors_toy_id, :value => @organdtoy.donors_toy.id) %>
            <%= f.hidden_field(:organization_id, :value => @organdtoy.organization.id) %>
            <%= f.hidden_field(:donators_id, :value => @organdtoy.donors_toy.donator_id) %>
            <%= f.submit :create, data: { confirm: 'Are you sure?' } %>
        <% end %>
    <% end %>    

    <div class="commentaddition">
        <% if logged_in_don? || logged_in_org? %>
            <%= content_tag :h3, "Chat about this toy." %>
            <%= form_for @comment do |f| %>
            <%= f.label :message %>
            <%= f.text_field :body %>
            <br>
            <br>
            <%= f.hidden_field(:org_and_toy_connect_id, :value => @organdtoy.id)%>
            <% if logged_in_org? %>
            <%= f.hidden_field(:organization_id, :value => current_org.id)%>
            <% end %>
			<% if logged_in_don? %>
			<%= f.hidden_field(:donator_id, :value => current_don.id)%>
			<% end %>
            <%= f.submit :create %>
            <% end %>
           <% end %> 
        </div>
        <div class = "comments_section">
        	<% @organdtoy.comments_org_donor_toys.each do |c| %>
        	<%= c.body %>
        	<% if c.donator_id != nil %>
        		from <%= c.donator.username %>
        	<% end %>
        	<% if c.organization_id != nil %>
        		from <%= c.organization.username %>
        	<% end %>
        	<br>
        	<% end %>

        </div>
