<h1>Create a New Donator Account</h1>
<%= form_for @don do |f| %>
<%= f.label :Username %>
<%= f.text_field :username %>
<%= f.label :Email %>
<%= f.email_field :email %>
<%= f.label :Avatar %>
<%= f.file_field :avatar %>
<%= f.label :Password %>
<%= f.password_field :password %>
<%= f.label :Password_Confirmation %>
<%= f.password_field :password_confirmation %>
<%= f.submit :Create %>
<% end %>
