<h1>Donators#show</h1>
  <%= @don.username %>
    <br>
  <%= @don.email %>
  <!-- Toy Listing Section -->
  <% if @don.donors_toys.count == 0  %>
    <h4>Start Adding available toys to your closet</h4>
  <% else %>
    <h3>These are the toys I have available for donation!</h3>
      <% @don.donors_toys.each do |t| %>
        <% if t.sent == false %>
        <!-- section to check if toy id is the same. -->
        <%= image_tag t.toy.image.url(:thumb) %>
          <%= form_for(@organdtoy) do |f| %>
            <% if logged_in_org? %>
              <h3> Do you want this toy?</h3>
                <div class="field">
                  <%= f.hidden_field(:organization_id, :value => current_org.id) %>
                </div>
                  <%= f.hidden_field(:donors_toy_id, :value => t.id)%>
                   <%= f.hidden_field(:donator_id, :value => @don.id)%>
                   <%= f.hidden_field(:active, :value => true) %>
                <div>
                  <%= f.submit "Request_toy", :class => "RSVP_button" %>
                </div>
            <% end %>
          <% end %>
        <% end %>  
      <% end %>
    <% end %>  
    <!-- Continue Org Conversation -->
    <h3>active conversations</h3>
    <% if @don.org_and_toy_connects.count != 0 %>
      <h1>Continue a conversation</h1>
        <% @don.org_and_toy_connects.each do |t| %>
          <%= link_to t.donors_toy.toy.name, t, :class => "link_to_buttons" %>
        <% end %>
      <% end %>
    <% if @don.don_and_seek_connects.count != 0 %>
      <h1>Continue a conversation</h1>
      <% @don.don_and_seek_connects.each do |t| %>
        <%= link_to t.seek.toy.name, t, :class => "link_to_buttons" %>
      <% end %>
    <% end %>
    <h3>Closed Conversations</h3>
    <% if @don.org_and_toy_connects.count != 0 %>
      <% @don.org_and_toy_connects.each do |t| %>
      <% if t.active == false %>
        <%= link_to t.donors_toy.toy.name, t, :class => "link_to_buttons" %>
       <% end %> 
    <% end %>
  <% end %>
  <% if @don.don_and_seek_connects.count != 0 %>
    <% @don.don_and_seek_connects.each do |t| %>
      <% if t.active == false %>
        <%= link_to t.seek.toy.name, t, :class => "link_to_buttons" %>
      <% end %>
    <% end %>
  <% end %>

    
      <% if @don.received_toys.count == 0 %>
        <h4>No donations have been made.</h4>
      <% else %>
        <h1>These are the toys I have donated.</h1>
        <% @don.received_toys.each do |t| %>
        <% if t.donors_toy_id != nil %>
            <%= t.donors_toy.toy.name %>
            <%= image_tag t.donors_toy.toy.image.url(:thumb) %>
          <% end %>
          <% if t.seek_id != nil %>
            <%= t.seek.toy.name %>
            <%= image_tag t.seek.toy.image.url(:thumb) %>
          <% end %>
      <% end %> 
    <% end %>   

