<h1>Donators#show</h1>
  <%= @don.username %>
    <br>
  <%= @don.email %>
  <!-- Toy Listing Section -->
  <h3>These are the toys I have available for donation!</h3>
    <% @don.donors_toys.each do |t| %>
      <%= t.toy.name %>
      <%= image_tag t.toy.image.url(:thumb) %>
        <%= form_for(@organdtoy) do |f| %>
          <% if logged_in_org? %>
            <h3> Do you want this toy?</h3>
              <div class="field">
                <%= f.hidden_field(:organization_id, :value => current_org.id) %>
              </div>
                <%= f.hidden_field(:donors_toy_id, :value => t.id)%>
                 <%= f.hidden_field(:donator_id, :value => @don.id)%>
              <div>
                <%= f.submit "Request_toy", :class => "RSVP_button" %>
              </div>
          <% end %>
        <% end %>
    <% end %>
    <!-- Continue Org Conversation -->
    <h1>Continue a conversation</h1>
      <% @don.org_and_toy_connects.each do |t| %>
        <%= link_to t.donors_toy.toy.name, t, :class => "link_to_buttons" %>
      <% end %>

