<% if logged_in_don? %>
<%= form_for @toy do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :image %>
<%= f.file_field :image %>

<%= f.submit :create %>
<% end %>
<% else %>
<h1>Please Log in as a Donator to create a toy.</h1>
<% end %>