<h1>Toy Show Page</h1>
<p>Toy Name: <%= @toy.name %> </p>
<%= image_tag @toy.image.url(:medium) %>
<br>
<%= @toy.created_at %>
<%= form_for(@donors_toy) do |f| %>
  <% if logged_in_don? %>
  <div class="attending">
    <h3> Do you have this toy? Want to Donate?</h3>

    <div class="field">
       <%= f.hidden_field(:donator_id, :value => current_don.id) %>
    </div>
    <div>
      <%= f.hidden_field(:toy_id, :value => @toy.id)%>
    </div>
    <div>
      <%= f.hidden_field(:active, :value => true) %>
    </div>
     <div>
      <%= f.submit "Donate!", :class => "RSVP_button" %>
    </div>
  </div>
<% end %>
<% end %>

<%= form_for(@seek) do |f| %>
  <% if logged_in_org? %>
  <div class="attending">
    <h3> Do you want this toy?</h3>

    <div class="field">
       <%= f.hidden_field(:organization_id, :value => current_org.id) %>
    </div>
    <div>
      <%= f.hidden_field(:toy_id, :value => @toy.id)%>
    </div>
     <div>
      <%= f.submit "Request Toy!", :class => "RSVP_button" %>
    </div>
  </div>
<% end %>
<% end %>




<%= link_to "Have you donated this toy?", edit_toy_path(@toy), method: :get %>
<%= link_to "Delete Toy", toy_path(@toy), method: :delete %>