<h1>Toy Show Page</h1>
<p>Toy Name: <%= @toy.name %> </p>
<%= image_tag @toy.image.url(:medium) %>
<p> Toy Owner: <%= @toy.donator.username %> </p>
<br>
<%= @toy.created_at %>
<%= link_to "Delete Toy", toy_path(@toy), method: :delete %>