<h1>Discussion regarding <%=  @donandseek.seek.toy.name  %> , between <%= @donandseek.organization.username %>, and <%= @donandseek.donator.username  %></h1>
        <!-- Received Toy Section -->
        <!-- Conditionals to show button for donor to send toy. -->
    <% if logged_in_don? && @donandseek.seek.sent == false %>
        <h1>Testing</h1>
        <%= form_for @donandseek.seek do |f| %>
            <%= f.hidden_field(:sent, :value => true) %>
            <%= f.submit %>
        <% end %>
    <% end %>        
    <% if @donandseek.seek.active == true && @donandseek.seek.sent == true %>
        <% if logged_in_org? %>
            <h1>Have you received this toy?</h1>
            <%= form_for @received do |f| %>
                <%= f.hidden_field(:seek_id, :value => @donandseek.seek.id) %>
                <%= f.hidden_field(:organization_id, :value => @donandseek.organization.id) %>
                <%= f.hidden_field(:donator_id, :value => @donandseek.donator_id) %>
                <%= f.hidden_field(:don_and_seek_connect_id, :value => @donandseek.id) %>
                <%= f.submit :create, data: { confirm: 'Are you sure? This will close your convseration.' } %>
            <% end %>
        <% end %> 
    <% else %>
        <h3>It looks like you received this toy!</h3>
    <% end %>    
        <!-- Comments Create Section -->
        <div class="commentaddition">
            <% if logged_in_don? || logged_in_org? %>
                <%= content_tag :h3, "Chat about this toy." %>
                <%= form_for @comment do |f| %>
                <%= f.label :message %>
                <%= f.text_field :body %>
                <br>
                <br>
                <%= f.hidden_field(:don_and_seek_connect_id, :value => @donandseek.id)%>
                <% if logged_in_org? %>
                <%= f.hidden_field(:organization_id, :value => current_org.id)%>
                <% end %>
    			<% if logged_in_don? %>
    			<%= f.hidden_field(:donator_id, :value => current_don.id)%>
    			<% end %>
                <%= f.submit :create %>
                <% end %>
            <% end %> 
        </div>
        <!-- Comments Show Section -->
        <div class = "comments_section">
        	<% @donandseek.comments_don_and_seek.each do |c| %>
        	<%= c.body %>
        	<% if c.donator_id != nil %>
        		from <%= c.donator.username %>
        	<% end %>
        	<% if c.organization_id != nil %>
        		from <%= c.organization.username %>
        	<% end %>
        	<br>
        	<% end %>

        </div>
