<!DOCTYPE html>
<html>
<head>
  <title>ToysApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in_don? %>
  <h4>Welcome, <%=current_don.username %></h4>
    <%= link_to("logout", '/logout', method: :delete, class: "logout") %>
  <% end -%>
	
  <% if flash[:notice] %>
  		<div><%= flash[:notice] %></div>
	<% end %>
	<% if flash[:alert] %>
  		<div><%= flash[:alert] %></div>
	<% end %>

<%= yield %>

</body>
</html>
