<!DOCTYPE html>
<html>
<head>
  <title>ToysApp</title>
  <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <nav>
      <ul>
        <li><%= link_to "Toys", toys_path %></li>
        <li><%= link_to "Donors", donators_path %></li>
        <li><%= link_to "Organizations", organizations_path %></li>
        <% if logged_in_don? %>
        <li><%= link_to "My Profile", donator_path(current_don.id) %></li>
        <% end %>
        <% if logged_in_org? %>
        <li><%= link_to "My Profile", organization_path(current_org.id) %></li>
        <% end %>
      </ul>
    </nav>
    <div class = "welcome">
      <% if logged_in_don? %>
        <h4>Welcome, <%=current_don.username %></h4>
        <%= link_to("Sign Out", '/logout', method: :delete, class: "logout") %>
      <% elsif logged_in_org? %>
        <h4>Welcome, <%=current_org.username %></h4>
        <%= link_to("Sign Out", '/logout', method: :delete, class: "logout") %>
      <% else %>
        <%= link_to("Sign In", '/login', method: :get, class: "login")%>
        <%= link_to("Sign Up", new_donator_path, method: :get, class: "login")%>
      <% end -%>
    </div>
  	
    <% if flash[:notice] %>
    		<div><%= flash[:notice] %></div>
  	<% end %>
  	<% if flash[:alert] %>
    		<div><%= flash[:alert] %></div>
  	<% end %>

<%= yield %>
  </div>

</body>
</html>
